{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add A New Cafe{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h1>
        <!--To let admin know change has been effected. Can instead change 'return render_template('add.html', form=form, successful=True)' to from flask import redirect, url_for+'redirect(url_for('cafes'))'
            in main.py add_cafe() also, to bring back to cafes page & see effected change. But can be annoying + the 'See all cafes' below would be redundant-->
        {% if successful: %}Successfully Added!
        {% else: %}Add a new cafe into the database
        {% endif %}
      </h1>
      {{ wtf.quick_form(form, method="POST", novalidate=True) }}
      <p class="space-above"><a href="{{url_for('cafes')}}">See all cafes</a></p>
    </div>
  </div>
</div>
{% endblock %}

